PORT=5000
MONGODB_URI=mongodb://localhost:27017/genufi
STELLAR_RPC_URL=https://soroban-testnet.stellar.org
STELLAR_NETWORK_PASSPHRASE=Test SDF Network ; September 2015
STELLAR_SECRET_KEY=replace_me
INSTITUTION_REGISTRY_ID=replace_me
CREDENTIAL_REGISTRY_ID=replace_me
REPUTATION_CONTRACT_ID=replace_me
VERIFICATION_CONTRACT_ID=replace_me
